/* Styling for the floating sidebar */
.nav {
    z-index: 10;
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    background:  rgba(76, 175, 80, 0.5);
}

.nav {
    padding: 10px;
    border-radius: 10px;
}

.lnk-primary {
    font-size: 5vh;
    padding: 10px;
    border-radius: 10px;
}
.lnk-primary:hover{
    color: #007bff;
    background-color: rgba(5, 5, 5, 0.8);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.active {
    color: red;
    background-color: green;
}
.active:hover {
    color: red;
    background-color: green;
}
