:root{
    --color-light: #fcf7f2;
    --color-light-alt: #eddcc0;
    --color-dark: #994b29;
    --color-dark-alt: #613716;
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: var(--color-light);
}

section{
  transition-duration: 5s;
  scroll-snap-align: start;
  overflow-y: hidden;
}

.App {
  margin: 0 10% 5% 10%;
}

.logo {
  border: 1px solid black;
  height: 100vh;
  width: 5vw;
  left: 0;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  position: fixed;
}
.section {
  border: 1px solid black;
  height: 87vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 13vh;
  margin-bottom: 13vh;
  text-align: center;
  scroll-snap-align: start;
  transition: opacity 3s ease-out;
}
.info {
  background: #61dafb;
}
.contact {
  background: darkolivegreen;
}
.collection {
  background: mediumvioletred;
}



